body {
    background-color: #783737ec;
    color: #120101;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.avatar {
    width: 120px;
    border-radius:50px;
    border: 10px solid #00000000;
}

.btn {
    display: block;
    background-color: #9a7070;
    color: rgb(0, 0, 0);
    padding: 15px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ff1b1b34;
    transform: scale(1.02);
}

/* DESAFIO: Estilize o botão especial */
.destaque :hover{
    background-color: #ffffff;
    color: #ca5cfd;
    font-weight: bold;
    border: 1px solid #d54cff;
    border-radius: 10px;


}
.area-contato {
    margin-top: 30px;
    border-top: 1px solid #c89797;
    padding-top: 20px;
}

.btn-msg {
    display: inline-block;
    background-color: #66303085;
    color: rgb(253, 253, 253);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-msg:hover {
    background-color: #ff4d2e6b;
    transform: scale(1.1);
}
.campo-texto {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

form button {
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00ff88;
    color: #003311;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

form button:hover {
    opacity: 0.8;
}

.btn-voltar {
    display: inline-block;
    margin-top: 25px;
    padding: 8px 20px;
    border: 1px solid rgba(194, 10, 10, 0.395);
    color: rgba(255,255,255, 0.8);
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: rgba(229, 93, 93, 0.457);
    color: rgba(2, 80, 206, 0.29);
    border-color: rgba(215, 14, 172, 0.283);
}

.erro {
    color: #fc0404;
    background: #fafafa;
    padding: 10px;
    border-radius: 5px;
}

.sucesso {
    color: #2fff00;
    background: #003311;
    padding: 10px;
    border-radius: 5px;
}