body {
    background-color: #806060;
    color: #120101;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.avatar {
    width: 120px;
    border-radius: 50%;
    border: 3px solid #840f2368;
}

.btn {
    display: block;
    background-color: #bb2424a0;
    color: rgb(0, 0, 0);
    padding: 15px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #9ec4f3;
    transform: scale(1.02);
}

/* DESAFIO: Estilize o botão especial */
.destaque {

}